<%- include("header") -%>

  <div class="box" id="heading">
    <h1 ><%= listTitle %></h1>
  </div>

  <div class="box">

    <% newItems.forEach( item => { %>
      <form action="/delete" method="POST">
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" name="itemToDelete" value="<%= item._id %>">
          <input type="hidden" name="list" value="<%= listTitle %>"">
          <p><%= item.name %></p>
        </div>
      </form>
    <% }); %>

    <form clas="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

<%- include("footer") -%>
